body {
    font-family: 'Lato'
}
.container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.text_container{
    justify-content: center;
    float: left;
    border-style: solid;
    border-width: 0px 7px 7px 7px;
    padding: 30px;
}
#main_text{
    font-weight:bolder;
    font-size: 40px;
    margin: 25px 0px 25px ;
}
.card_container{
    text-align: center;
    display: flex;
    justify-content: center;
}
.card{
    max-width:250px;
    margin-top: 100px;
    margin-right: 150px;
    word-wrap: break-word;
}
.prof_name{
    font-weight: bolder;
}