#container {
    background-color: lightgrey;
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 1;
}

.right {
    flex: 2;
}

.r1 {
    display: flex;
    justify-content: flex-end;
}

#logo {
    max-width: 100px;
    max-height: 100px;
}

#slide_img {
    width: 100%;
    max-height: 500px;
}

.menu {
    background-color: bisque;
    text-align: center;
}

#hp_no {
    text-align: right;
}

@media only screen and (min-width: 600px) {
    .content_container {
        display: flex;
    }

    .sidebar {
        flex: 1;
        background-color: yellow;
        padding: 10px;
        border-radius: 2px;
        border-style: solid;
        border-color: black;
        border-left-width: 0;
    }
}

@media only screen and (max-width: 600px) {
    .content_container {
        display: flex;
        flex-direction: column;
    }

    .sidebar {
        flex: 1;
        background-color: yellow;
        padding: 10px;
        border-radius: 5px;
        border-style: solid;
        border-color: black;
        border-top-width: 0;
    }

}

.text_content {
    flex: 2;
    background-color: yellow;
    padding: 10px;
    border-radius: 2px;
    border-style: solid;
    border-color: black;
}

.sidebar {
    flex: 1;
    background-color: yellow;
    padding: 10px;
}

.footer {
    background-color: chartreuse;
    text-align: center;
}