#container {
    background-color: lightgrey;
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left{
    flex:1;
}
.right{
    flex: 2;
}
.r1{
    display: flex;
    justify-content: flex-end;
}
#logo {
    max-width: 100px;
    max-height: 100px;
}

#slide_img {
    width: 100%;
    max-height: 500px;
}

.menu {
    background-color: bisque;
    text-align: center;
}
#hp_no{
    text-align: right;
}
.content_container {
    display: flex;
    flex-direction: row;
}

.text_content {
    flex: 2;
    background-color: yellow;
    margin-right: 10px;
    padding: 10px;
}

.sidebar {
    flex: 1;
    background-color: yellow;
    padding: 10px;
}

.footer {
    background-color: chartreuse;
    text-align: center;
}