#container {
    background-color: lightgrey;
    max-width: 1024px;
    margin: auto;
    padding: 10px;
}
.header{
    text-align: center;
    background-color: aquamarine;
}
.content{
    display: flex;
}
.menu{
    background-color: cyan;
    text-align: center;
    flex: 1;
}
.menu_right{
    display: flex;
    flex: 2;
    flex-direction: column;
}
.top{
    background-color:hotpink;
    display: flex;
    text-align: center;
}
.main{
    flex: 1;
}
.right{
    flex: 1;
}
.footer{
    background-color: lightcoral;
    text-align: center;
}