body {
    background-color: #0A0909;
}
/* Nav bar section */
.nav_bar{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #0A0909;
    justify-content: space-around;
    align-items: center;
}
.nav_links{
    color: white;
    text-decoration: none;
}
.nav_links:hover{
    color: gray;
    text-decoration: none;
}
#sw_logo{
    max-width: 150px;
    max-height: 150px;
}
.burger_icon{
    display: none;
}
/* Cover Section */
.cover_container{
    background-image: url("../imgs/starwar_bg.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.cover_text_container{
    display: flex;
    flex-direction: column;
    background-color: rgba(5, 5, 5,0.6);
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 200px;
}
.cover_title{
    max-width: 600px;
    background-color:rgba(217, 217, 217,0.2);
    font-size: 30px;
    font-weight: 900;
    padding: 30px; 
}
.cover_title p{
    margin: 0;
}
.cover_sub_text_container{
    font-size: 20px;
    padding: 30px;
    max-width: 600px;
    background-color: rgba(5, 5, 5,0.4);
    margin-bottom: 200px;
}
/* Movie Section (Slide) */
.sec_bar{
    color: white;
    margin: 10px 0px;
    font-size: 30px;
    font-weight: 900;
    padding: 20px 190px;
    background-color:rgba(217, 217, 217,0.2);
}
.sec_bar p{
   margin: 0;
}
.movie_carousel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie_carousel img{
    max-width: 200px;
    max-height: 500px;
}
.slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 200px;
    margin: 30px;
}
.movietitle{
    font-size: 20px;
    color: white;
}
.secondslide{
    display: none;
}
.thirdslide{
    display: none;
}
.prev, .next {
    cursor: pointer;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 3px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active_dot {
    background-color: blue;
}
hr.hr_line{
    border-top: 1px solid white;
}
/* Movie Section*/
.movie_big_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie_sm_container{
    display: flex;
    padding: 10px;
    margin-top: 40px;
    background-color: rgba(217, 217, 217,0.2);
}
.movie_img img {
    max-height: 500px;
    max-width: 300px;
}
.movie_detail {
    display: flex;
    flex-direction: column;
    background-color: #0A0909;
    padding: 20px;
    color: white;
    margin-left: 10px;
    text-align: left;
    max-width: 800px;
}
.movie_episode{
    font-size: 40px;
    font-weight: bold;
    margin: 0px 0px 10px 0px;
}
.movie_title{
    font-size: 54px;
    font-weight:500;
    margin: 0;
}
.movie_subtext{
    color: #AFAAAA;
    font-size: 30px;
    margin: 10px 0px 0px 0px;
}
.movie_subtext1{
    font-size: 22px;
}
.release_date{
    font-weight: bold;
    font-size: 25px;
    margin: 0;
}
.btn_movie{
    background-color: #363434;
    margin-top: 30px;
    color: white;
    padding: 8px 10px;
    max-height: 80px;
    max-width: 200px;
    font-size: 20px;
    font-weight: bold;
}
/* Footer */
.footer{
    display: flex;
    margin-top: 300px;
    background-color: rgba(217, 217, 217,0.2);
    justify-content: space-around;
}
.footer img {
    max-width: 150px;
    max-height: 150px;
}
.social_container{
    display: flex;
    align-items: center; 
}
.social_container img{
    max-height: 30px;
    margin-right: 10px;
}



/* Mobile CSS < 600 */ 
@media screen and (max-width: 600px) {
    
    .nav_links{
        display:none;
    }

    .nav_bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .burger_icon{
        display: initial;
        color: white;
        padding-right: 30px;
    }
    .cover_text_container{
        display: flex;
        flex-direction: column;
        background-color: rgba(5, 5, 5,0.6);
        justify-content: center;
        align-items: center;
        color: white;
    }
    .cover_title{
        max-width: 400px;
        background-color:rgba(217, 217, 217,0.2);
        font-size: 25px;
        font-weight: 700;
        padding: 30px; 
    }
    .cover_sub_text_container{
        font-size: 18px;
        padding: 30px;
        max-width: 400px;
        background-color: rgba(5, 5, 5,0.4);
    }
    .sec_bar{
        color: white;
        margin: 10px 0px;
        font-size: 25px;
        font-weight: 900;
        text-align: center;
        background-color:rgba(217, 217, 217,0.2);
    }
    .two{
        display: none;
    }
    .movie_sm_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        margin-top: 40px;
        background-color: rgba(217, 217, 217,0.2);
    }

    .movie_detail {
        display: flex;
        flex-direction: column;
        background-color: #0A0909;
        padding: 20px;
        color: white;
        text-align: center;
        align-items: center;
        margin-top: 10px;
        max-width: 600px;
    }
    .movie_episode{
        font-size: 30px;
        font-weight: bold;
        margin: 0px 0px 10px 0px;
    }
    .movie_title{
        font-size: 27px;
        font-weight:500;
        margin: 0;
    }
    .movie_subtext{
        color: #AFAAAA;
        font-size: 25px;
        margin: 10px 0px 0px 0px;
    }
    .movie_subtext1{
        font-size: 20px;
    }
    .release_date{
        font-weight: bold;
        font-size: 20px;
        margin: 0;
    }
    .btn_movie{
        background-color: #363434;
        margin-top: 30px;
        color: white;
        padding: 8px 10px;
        max-height: 80px;
        max-width: 170px;
        font-size: 17px;
        font-weight: bold;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-top: 300px;
        align-items: center;
        background-color: rgba(217, 217, 217,0.2);
        justify-content: space-around;
    }
    .social_container{
        display: flex;
        align-items: center;
        padding-bottom: 30px;
    }

}

/* Burger Menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }