body {
    font-family: 'Lato'
}
.container {
    display: flex;
    background-color:#0F0E0C;
    
}
.text_container{
    text-align:left;
    float: left;
    color: white;
    padding: 40px 20px 0px 30px;
}
.card {
    flex-direction: column;
    color: white;
    max-width:250px;
    margin:80px 0px 30px 80px;
    border-color: #E4E1D0;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
}
.main_text{
    font-size: 30px;
}
.sub_text{
    font-size: 18px;
    line-height: 1.4;
}